{% extends "base.html" %}

{% block title %}
	List
{% endblock title %}


{% block content %}
<div class="row">
	<div class="card-deck">
		{% for game in games %}
			<div class= "col-md-4">
			  <div class="card">
			    <img class="card-img-top" src="{{game.image.url}}" alt="Card image cap">
			    <div class="card-body">
			      <h5 class="card-title">{{game.name}}</h5>
			      <p class="card-text">Release Date is : {{game.release_date}}</p>
			      <p class="card-text">Platforms : {{game.platforms}}</p>
			      <p class="card-text">
			      	Multiplayer : 
			  		{% if game.multiplayer %}
						Multiplayer Available
					{% else %}
						Single Player only
					{% endif %}
				 </p>
			    </div>
			  </div>
			</div>
		{% endfor %}
	</div>
</div>	
{% endblock content %}
